/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** CUSTOM PROPERTIES *****/

:root{
  --bg-library: rgb(20,25,34);
  --bg-sidebar: rgb(0,0,0);
  --bg-header: rgb(8,11,18);
  --bg-footer: rgb(40,40,40);
  --color-sidebar: rgb(163,163,163);

}




/****** GENERICS *****/

body{
  font-family: Montserrat;
  
  
  /* TODO REMOVE */
  color: white;
}


.top-content{
  display: flex;
  height: calc(100vh - 150px);
}


img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: var(--color-sidebar);
  display: block;
}


ul{
  list-style-type: none;
}

h3{
  padding-bottom: 15px;
}



/***** UTILITY *****/

/* TODO REMOVE */
.bd{
  border: 1px solid white;
}

.orizontal-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.orizontal-list li{
  flex-basis: calc((100% - 20px) / 4);
  height: 30px;
}


.row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.card{
  flex-basis: calc((100% - 20px) / 2);
  height: 270px;
}



.d-none-xs{
  display: none;
}

.separator{
  border-bottom: 1px solid;
  border-color: var(--color-sidebar);
  margin: 10px 0;
}

.sidebar-color{
  color: var(--color-sidebar);
}





/***** MAIN *****/

main{
  flex-grow: 1;
  background-color: var(--bg-library);
  overflow: auto;
}


header{
  max-width: 100%;
  height: 130px;
  background-color: var(--bg-header);
  opacity: 0.5;
  position: sticky;
  top: 0;
  right: 0;


  display: flex;
  align-items: center;
  justify-content: flex-end;
}




#sidebar{
  flex: 0 0 65px;
  height: calc(100vh - 150px);
  background-color: var(--bg-sidebar);
  padding: 8px 15px;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Sidebar */

#logo{
  padding-bottom: 25px;
}


.side-nav a{
  padding-bottom: 10px;
}


.side-nav img{
  max-width: 100%;
}

.playlist-opt{
  padding-top: 15px;
}

.playlist li{
  padding-top: 10px;
}


.fa-plus{
  color: var(--bg-sidebar);
  background-position: center;
  background-color: var(--color-sidebar);
  padding: 10px;
}


.user-control{
  flex-basis: 7%;
}

.user-name{
  padding-left: 5px;
  color: white;
  font-weight: bold;
}


.btn-profile img{
  background-color: var(--color-sidebar);
  border-radius: 50%;
}






/* Header */

.upgrade{
    width: 20%;
    height: 30%;
}


/* Library */

.library-nav{
  height: 80px;
  padding: 10px;
}




/***** FOOTER *****/

footer{
  max-width: 100%;
  height: 150px;
  background-color: var(--bg-footer);
}


.controls{
  height: 100%;
  display: flex;
  padding: 10px;
}

.controls > *{
  height: 100%;
  flex-basis: calc(100% / 3);
}




/*********   RESPONSIVE   *********/



/* SMALL SIZE */

@media screen and (min-width: 576px) {
  
  #sidebar{
    flex-basis: 200px;
    padding: 0 20px;
  }

  .side-nav{
    padding-top: 20px;
  }

  .user-control{
    padding-bottom: 10px;
  }

 
  .orizontal-list li{
    flex-basis: calc((100% - 20px) / 3)
  }

  .d-flex-s{
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .d-flex-s img{
      max-width: 20%;
      
    }
  
    .d-none-s{
      display: none;
    }

    .d-block-s{
      display: block;
    }

    .d-inblock-s{
      display: inline-block;
    }
  
  }

 

  /* MEDIUM SIZE */

  @media screen and (min-width: 768px) {

    .orizontal-list li{
      flex-basis: calc((100% - 20px) / 5)
    }

    
    .card{
      flex-basis: calc((100% - 20px) / 4);
    }

    
    .row{
      justify-content: flex-start;
      align-items: flex-start;
    }
    
  }


  /* LARGE SIZE */

  @media screen and (min-width:992px) {
    
    .orizontal-list li{
      flex-basis: calc((100% - 20px) / 6)
    }

    .card{
      flex-basis: calc((100% - 20px) / 6);
    }

  }
