
/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** CUSTOM PROPERTIES *****/

:root{
  --bg-library: rgb(20,25,34);
  --bg-sidebar: rgb(0,0,0);
  --bg-header: rgb(8,11,18);
  --bg-footer: rgb(40,40,40);

}




/****** GENERICS *****/

body{
  font-family: Montserrat;
  
  overflow-y: hidden;
  
  /* TODO REMOVE */
  color: white;
}


.main-part{
  display: flex;
}


a{
  color: white;
}


ul{
  list-style-type: none;
}



/***** UTILITY *****/

/* TODO REMOVE */
.bd{
  border: 1px solid white;
}

.orizontal-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.orizontal-list li{
  flex-basis: calc((100% - 20px) / 4);
  height: 30px;
}


.row{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.card{
  flex-basis: calc((100% - 20px) / 2);
  height: 270px;
}


/***** MAIN *****/



main{
  flex-basis: 90%;
  height: 100vh;
  background-color: var(--bg-library);
  overflow-y: auto;
}



header{
  width: 100%;
  height: 130px;
  background-color: var(--bg-header);
  opacity: 0.5;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;


  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.library{
  margin-bottom: 170px;
  overflow-y: auto;
}

#sidebar{
  flex-basis: 60px;
  flex-shrink: 0;
  height: calc(100vh - 150px);
  background-color: var(--bg-sidebar);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Sidebar */

.side-nav{
  flex-basis: 30%;
}

.user-control{
  flex-basis: 10%;
}


/* Header */

.upgrade{
    width: 20%;
    height: 30%;
}


/* Library */

.library-nav{
  height: 80px;
  padding: 10px;
}




/***** FOOTER *****/

footer{
  height: 150px;
  background-color: var(--bg-footer);
  position: sticky;
  bottom: 0;
  left: 0;
  overflow: hidden;
}


.controls{
  height: 100%;
  display: flex;
  padding: 10px;
}

.controls > *{
  height: 100%;
  flex-basis: calc(100% / 3);
}




/*********   RESPONSIVE   *********/


@media screen and (min-width: 576px) {
  #sidebar{
    flex-basis: 200px;
    
  }

  .orizontal-list li{
    flex-basis: calc((100% - 20px) / 3)
  }

}


@media screen and (min-width: 768px) {

  .orizontal-list li{
    flex-basis: calc((100% - 20px) / 5)
  }

  
  .card{
    flex-basis: calc((100% - 20px) / 4);
  }

  
  .row{
    justify-content: flex-start;
    align-items: flex-start;
  }
  
}


@media screen and (min-width:992px) {
  
  .orizontal-list li{
    flex-basis: calc((100% - 20px) / 6)
  }

  .card{
    flex-basis: calc((100% - 20px) / 6);
  }

}
